<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Math Trainer</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="css/generate-main.css" />

    <script data-main="scripts/generate-main" src="scripts/require.js"></script>
  </head>
  <body>
    <!-- <app-output> -->
    <template type="text/x-template" id="template-app-output">
      <div class="container-fluid">
        <loader :is-loading="isLoading" :is-error="isError">
          <div class="row">
            <button v-on:click="printTest" type="button" class="btn btn-primary btn-lg btn-block d-print-none ml-1 mr-1 mt-1 mb-1">Print test</button>
          </div>
          <div class="row">
            <h1>{{ testTitle }}</h1>
          </div>
          <problem-row v-for="(question, index) in questions"
              :number="question.questionID.question"
              :content="question.problem"
              :key="index+'a'"></problem-row>
          <div class="row">
            <h2>Solutions</h2>
          </div>
          <solution-row v-for="(question, index) in questions"
              :answer="question.answer"
              :number="index + 1"
              :solution="question.solutions[0]"
              :key="index+'b'"></solution-row>
          <div class="row">
            <h2>Alternate solutions</h2>
          </div>
          <alternate-solution-row v-for="(question, index) in questions"
              v-if="question.solutions.length > 1"
              :number="index + 1"
              :solutions="question.solutions.slice(1)"
              :key="index+'e'"></alternate-solution-row>
        </loader>
      </div>
    </template>

    <!-- <content-embed> -->
    <template type="text/x-template" id="template-content-embed">
      <div class="content-embed" v-html="content"></div>
    </template>

    <!-- <loader> -->
    <template type="text/x-template" id="template-loader">
      <div>
        <div v-if="isLoading">
          <img src="images/loading.svg" class="m-auto d-block" />
          <p class="text-center lead font-weight-bold" style="margin-top: -3rem">Loading...</p>
        </div>
        <div v-else-if="isError">
          <div class="card">
            <div class="card-header">Error</div>
            <div class="card-body">
              <h4 class="card-title">{{ shortErrorDescription }}</h4>
              <p class="card-text">{{ longErrorDescription }}</p>
              <button class="btn btn-primary" @click="tryAgain">Try again</button>
            </div>
          </div>
        </div>
        <div v-else>
          <slot></slot>
        </div>
      </div>
    </template>

    <!-- <problem-row> -->
    <template type="text/x-template" id="template-problem-row">
      <div class="row">
        <div class="col-1"><p class="font-weight-bold">#{{ number }}</p></div>
        <content-embed class="col-11" :content="content">
        </content-embed>
      </div>
    </template>

    <!-- <solution-row> -->
    <template type="text/x-template" id="template-solution-row">
      <div class="row">
        <div class="col-1"><p class="font-weight-bold">#{{ number }}</p></div>
        <div class="col-11">
          <p class="font-weight-bold">{{ answer }}</p>
          <content-embed :content="solution">
          </content-embed>
        </div>
      </div>
    </template>

    <!-- <alternate-solution-row> -->
    <template type="text/x-template" id="template-alternate-solution-row">
      <div class="row">
        <div class="col-1"><p class="font-weight-bold">#{{ number }}</p></div>
        <div class="col-11">
          <div v-for="(solution, index) in solutions" :key="index+'d'">
            <p v-if="index !== 0" class="font-weight-bold">Another solution</p>
            <content-embed :content="solution">
            </content-embed>
          </div>
        </div>
      </div>
    </template>

    <app-output id="app-output"></app-output>
  </body>
</html>